.BMap_cpyCtrl {
	display: none;
}
.anchorBL {
	display: none;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width:100%;
	height:100%;
}
#head-image{
	position:absolute;
	top:1%;
	left:1%;
	width:20%;
	z-index:99;
	color:red;
}
#allmap{
	height:100%;
	width:100%;
	margin-top:0%;
}
#block_list{
	position:absolute;
	top:80%;
	left:35%;
	width:50%;
}
#aside{
	position:absolute;
	top:25%;
	right:0%;
	padding-right:2%;
}
.list-image,.stylelist{
	width:4%;
	height:4%;
}
.list-image{
	width:100%;
	height:100%;
}
#toplogo{
	width:25%;
	height:25%;
	padding-right:10%;
}
li{
	list-style-type:none; 
	margin:0;
	padding:0;
}
.block0{
		display:inline;
}
.button-image{
	width:100%;
	height:100%;
	margin-top:18%;
	color:white;
	font-size:120%;
	background-color:black;
}
select{
	width:126%;
	height:102%;
	border: none;
	outline: none;
	background-color: transparent;
 	-webkit-appearance: initial;
	font-size:100%;
	color:black;
	padding-left:10%;
}
.info_list {
	position:absolute;
	bottom:20%;
	display:none;	
	z-index:3;
	margin:0 auto;
	color:black;
	font-weight: bold;
	background:white;
	border-radius:5%;
	line-height:100%;
	width:10%;
	height:30%;
}
.info-list-title {
	float:left; 
	width:80%; 
	height:50%; 
	text-align:center; 
	font-size:120%; 
	color:black;	
	line-height:10%; 
	padding-left:5%;
	padding-top:10%;
	padding-bottom:15%;
}
.info-list-close{
	float:right; 
	width:10%; 
	height:10%; 
	margin-top:-20%;
	margin-right:10%;
}
.info-list-content{
	width:80%;
	height:80%;
	margin-top:10%;
}
